/venv*
/.venv
/build
/dump
/dist
/gramaddict.egg-info
/.idea
/test
/.vscode
*/*.yml
*/*.json
*.pyc
.DS_Store
crashes
accounts
!config-examples/*
Pipfile
Pipfile.lock
*.pdf
*.txt
*.mp4
*.log*
*.ini
*.db
