/venv*
/.venv
/build
/dist
/gramaddict_beta.egg-info
/.idea
/.vscode
*/*.yml
!config-examples/*
interacted_users.*
sessions.json
*.pyc
.DS_Store
screenshots
crashes
filter.json
whitelist.txt
Pipfile
Pipfile.lock
*.pdf
*.log*