/venv*
/.venv
/build
/dist
/gramaddict.egg-info
/.idea
/test
/.vscode
*/*.yml
*/*.json
*.pyc
.DS_Store
screenshots
crashes
filter.json
whitelist.txt
Pipfile
Pipfile.lock
*.pdf
*.txt
*.mp4
*.log*
!config-examples/*
*.ini
*.db