{
    "skip_business": true,
    "skip_non_business": false,
    "min_followers": 100,
    "max_followers": 5000,
    "min_followings": 10,
    "max_followings": 1000,
    "min_potency_ratio": 1,
    "max_potency_ratio": 2,
    "follow_private_or_empty": false,
    "follow_only_private": false,
    "min_posts": 7,
    "max_digits_in_profile_name": 4
}