[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
uiautomator2 = "*"
colorama = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
